form{
	padding-left: 2px;
	padding-top: 2px;
}

form#addpostagem input[type="text"]{
	width: 1000px;
	height: 20px;
	padding-bottom: 5px;
}

form#addpostagem textarea{
	width: 250px;
	height: 100px;
}	
